libs
c
fpu-libs
*.o
*~
*.adf
*.hdf
hello-cpp
hello-pthread
mandel
hello-world
gui-hack
mandel13
*.zip
time-test
scratch
backup
anim
doom
.vscode
pottendo-mandel
anims
anims13
par-play13
par-play
.vscode/settings.json
.vscode/settings.json
Kickstarts
devs*

